/* You can add global styles to this file, and also import other style files */
* {
    /*position: relative;*/
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            box-sizing: border-box;
        }
        
        :root {
            /*background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(190, 254, 254, 1));
            */
            font-family: 'Poiret One', 'Rock Salt', cursive;
        }
ul {
    margin-left: 50px;
}

img {
    margin-left: 50px;
    margin-top: 20px;
}